.App {
    font-family: sans-serif;
}

.CurrentTimebox {
    border: $default-border;
    border-radius: $border-radius;
    padding: 20px;
    text-align: center;
}

.Timebox {
    border-radius: $border-radius;
    border: $default-border;
    margin-bottom: 10px;
    padding: 5px;
}

.TimeboxEditor, .TimeboxCreator {
    text-align: right;
    border-radius: $border-radius;
    border: $default-border;
    margin-bottom: 20px;
    padding: 20px;
}

.TimeboxCreator {
    background: lighten(aqua, 20);
}

.TimeboxEditor {
    background: darken(aquamarine, 50);
}

.Timebox {
    background: #ffaaaaaa;
}

.CurrentTimebox {
    background: #ffffaa;
}

.input {
    min-width: 60%;
    margin-left: 20px;
    font-size: 16px;
}

.button {
    font-size: 16px;
    margin-left: 10px;
}

.Clock {
    color: orangered;
}

.progress {
    border-radius: $border-radius;
    border: 1px solid black;
    margin-bottom: 20px;
    height: 25px;
    padding: 5px;

    &--big {
        height: 50px;
    }
    
    &--color-red {
        border: 1px solid orangered;
    }
    
    &__bar {
        height: 100%;
        background-color: black;
    }
    
    &--color-red &__bar {
        background-color: orangered;
    }
}