.App {
    font-family: sans-serif;
}

.CurrentTimebox {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.Timebox {
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 10px;
    padding: 5px;
}

.TimeboxEditor, .TimeboxCreator {
    text-align: right;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
    padding: 20px;
}

.TimeboxCreator {
    background: aqua;
}

.TimeboxEditor {
    background: green;
}

.Timebox {
    background: #ffaaaaaa;
}

.CurrentTimebox {
    background: #ffffaa;
}

.input {
    min-width: 60%;
    margin-left: 20px;
    font-size: 16px;
}

.button {
    font-size: 16px;
    margin-left: 10px;
}

.Clock {
    color: orangered;
}

.ProgressBar {
    border-radius: 5px;
    border: 1px solid orangered;
    margin-bottom: 20px;
    height: 25px;
    padding: 5px;
}

.ProgressBar > div {
height: 100%;
    background-color: orangered;
}

.inactive {
    filter: blur(2px) grayscale(1);
}
